.alert {
    background-color: firebrick;
}
.hidden {
    display: none;
}
button {
    border: 3px solid darkgray;
    border-radius: 5px;
}
button.show {
    border-color: lightgreen;
}
form {
    background-color: lightgray;
    border: 2px solid darkgray;
}
fieldset {
    border: none;
    text-align: center;
}
label {
    text-transform: capitalize;
    font-weight: bold;
    display: block;
}
button {
    text-align: center;
}