* {
    box-sizing: border-box;
}
.flex {
    display: flex;
    justify-content: space-between;
}
#gallery div.hidden {
    display: none;
}
#gallery {
    margin-bottom: 20px;
}
#gallery div.small {
    width: 18%;
}
#gallery div.medium {
    width: 28%;
}
#gallery div.large {
    width: 38%;
}
#gallery div {
    width: 18%;
    margin: 0 1%;
    border: 3px solid darkgrey;
    background-color: lightgray;
    border-radius: 15px;
    padding: 2px;
    display: inline-block;
}
#gallery div>a:first-of-type {
    display: block;
    text-align: right;
}
#gallery div>p>a {
    padding: 0 5px;
}
#gallery a:hover {
    color: chartreuse;
    cursor: pointer;
}
#gallery img {
    width: 100%;
}
input, select, button {
    margin-bottom: 10px;
    height: 26px;
}
.form-100 {
    width: 100%;
}
.form-50 {
    width: 49.5%;
}

#search {
    width: 79%
}
#searchBtn {
    width: 10%;
}
#searchClearBtn {
    width: 10%;
}